//Palette
$color-primary: #A63F2E;
$color-secondary: #F4EBD0;
$color-accent: #F9A03F;
$color-dark: #3B1F1F;
$color-light: #FFF8F0;


//Fonts
$font-title: 'Playfair Display', serif;
$font-body: 'Inter', sans-serif;