@use '../../styles/variables' as *;

.title-container {
    text-align: center;
    padding: 2rem;
    .title {
        font-size: 2.5rem;
        font-weight: 700;
        color: $color-primary;
        margin: 0;
    }
    .sub-title{
        font-size: 1.2rem;
        font-weight: 600;
        color: $color-accent;
        margin-top: 0.5rem;
    }
}